* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top__header */
.top__header {
    background-color: #0d369f;
    padding: 13px 15px;
}

ul {
    list-style-type: none;
    margin: 0;
}

/* container__left */
.container__left ul li {
    margin-right: 30px;
}

.container__left ul li {
    display: inline-block;
}

.container__left ul li i {
    margin-right: 8px;
}

/* truoc hover */

.container__left ul li a {
    transition: all .5s;
}

/* sau hover */
.container__left ul li:hover a {
    color: #ff6e65;

}

/* truoc hover */
.top__header i {
    color: white;
    transition: all .5s;
}

/* sau hover */
.top__header a:hover i {
    color: #ff6e65;
}


.top__header a {
    text-decoration: none;
    color: white;
}

/* top__header right */

.container__right a {
    margin-right: 30px;
}

/* logo navbar  and before hover*/
.navbar .navbar-brand img {
    margin-right: 4px;
}

.navbar .navbar-brand {
    color: #0d369f;
    font-weight: bold;
    font-size: 26px;
}

/* after hover */
a.navbar-brand:hover {
    color: #ff6e65 !important;
}

/* NavBar */
#navbarSupportedContent a {
    text-transform: uppercase;
    transition: all 0.5s;
}

#navbarSupportedContent .active {
    color: #ff6e65;
}

/* hover navbar */
#navbarSupportedContent .nav-item:hover .nav-link {
    color: #ff6e65;
}

.dropdown .nav-link:focus {
    color: #ff6e65;
}

a.dropdown-item:hover {
    color: #ff6e65;
}

/* search */
.form-control {
    border-radius: 30px;
    position: relative;
}

.form-inline button {
    position: absolute;
    right: 0;
    padding-right: 40px;
    /* padding-left: 180px; */
}

/* hover */
.form-inline button:hover {
    color: #ff6e65;
}


@media screen and (max-width: 991px) {
    form {
        float: left;
    }
}